.recentPostsList {
  margin-top: 40px;
}

.recentPost {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: solid 1px var(--color-border);
  cursor: pointer;
}

.recentPost:last-child {
  border-bottom: none;
}

a.readMore {
  color: 00A3A3;
  font-weight: bold;
  text-decoration: none;
}

.postMetaData {
  margin-bottom: 20px;
}

time {
  color: var(--color-text);
  font-size: 0.9rem;
  font-style: italic;
}