/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* pre-existing colors */
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);


  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  /* end of pre-existing colors */
  /* Nativish colors */
  --vt-c-indigo: #2c3e50;
  /*text color, unchanged from original theme*/
  --vt-c-text-light-1: var(--text-teal);
  /*text color, unchanged from original theme*/
  --light-blue: #C8F4FF;
  /*not used for now*/
  --soft-green: #B9E8C4;
  /*not used for now*/
  --white: #FFFFFF;
  --slate-grey: #7A8A9A;
  --background-grey: #f0f2f4;
  --background-orange: #FFDBBA;
  --lighter-orange: #fff7ea;
  --brighter-orange: #FFB862;
  /*this is the orange in the logo*/
  --background-teal: #ecf2f2;
  --teal: #008080;
  /*this is the teal in the logo*/
  --darker-teal: #007070;
  --text-teal: #002e2e;
  --title-teal: #004f4f;
  --blue: #004A8B;
  --background-blue: #E7F3F7;
  --darker-blue: #023c70;
}

/* semantic color variables for this project */
:root {
  /* pre-existing colors */
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--title-teal);
  --color-text: var(--vt-c-text-light-1);
  /* end of pre-existing colors */
  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
