<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDMS8B3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="homeHeader">
    {{ partial "header-nativish.html" . }}
  </header>
  <main>
    <div class="nav-placeholder"></div>
    <div class="content-wrapper">
      {{ block "main" . }}{{ end }}
    </div>
  </main>
  <footer>
    {{ partial "footer-nativish.html" . }}
  </footer>
</body>
</html>
