{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <div class="recentPostsList">
    {{ $paginator := .Paginate .Site.RegularPages }}
    {{ range $paginator.Pages }}
      <div class="recentPost">
        <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        <p>{{ .Summary }}</p>
        <!-- add "read more" -->
        <a class="readMore" href="{{ .RelPermalink }}">Read post ></a>
      </div>
    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
{{ end }}
